<div class="container my-container">
<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="mb-3 d-flex justify-content-between">
            <button type="submit" class="btn btn-link">Submit</button>
            <button type="submit" class="btn btn-primary">Se connecter</button>

        </div>
    </div>
</div>
</div>